.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.items {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin-bottom: 0;
  text-align: center;
}

.image {
  border-radius: 10px;
  margin-top: 60px;
  padding: 1px;
  height: 100px;
  padding: 1px;
  width: 98%;
  border-top: none;
}

h1 {
  margin-top: 50px;
  font-size: 15px;
}
p{
  margin-top: 50px;
}

.table {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 233, 233);
  border-radius: 0 0 10px 10px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: gray;
}

/* for desctop version */
@media only screen and (min-width: 768px) {
  .parent {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 0;
  }

  .items {
    width: 800px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }


  .image {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin-top: 20px;
    padding: 1px;
  }

  h1 {
    margin-top: -10px;
    font-size: 20px;
    

  }

  .table {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
  }
}
