.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.search {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.input {
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin-top: 0;
  height: 40px;
  width: 300px;
  font-weight: bold;
  color: white;
  background-color: rgba(115, 34, 93, 0.66);
  border: 2px solid rgb(255, 255, 255);
}

::placeholder {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  justify-content: center;
  align-content: center;
}

ul {
  list-style: none;
}

/* for desctop version */
@media only screen and (min-width: 768px) {
  .context {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  .input {
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    margin-top: 0;
    height: 40px;
    width: 600px;
    font-weight: bold;
    color: white;
    background-color: gray;
    border: 2px solid rgb(255, 255, 255);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 0.4fr);
    justify-content: center;
    align-content: center;
  }

  ul {
    list-style: none;
  }
}
